@media(max-width:1400px)
  .main__top
    padding 140px 250px
  .main__info
    padding 110px 100px
    p
      margin-bottom 75px
  .main__info-block
    margin-right 100px
    &:last-child
      margin-right 0
  .main__content
    padding 110px 90px
  .main__images
    a
      img 
        height 300px

@media(max-width:1200px)
  .main__top
    padding 140px 150px
  .main__info
    padding 70px 100px
  .main__info-block
    margin-right 50px
    &:last-child
      margin-right 0
  .main__content
    padding 70px 30px
  .main__content-block
    margin-right 30px
    &:last-child
      margin-right 0
  .main__contacts
    padding 70px 100px

@media(max-width:1000px)
  .main__top
    padding 140px 50px
    h1 
      font-size 50px
    h2 
      font-size 20px
  .main__info-icons
    flex-direction column
    align-items center
  .main__info-block
    width 50%
    margin-right 0
    margin-bottom 30px
    &:last-child 
      margin-bottom 0
  .main__content
    padding 50px 30px
    span 
      margin-bottom 50px
      width 90%
  .main__content-field
    flex-direction column
    align-items center
  .main__content-block
    width 50%
    padding 60px 40px
    margin-bottom 30px
    margin-right 0
    &:last-child
      margin-bottom 0
  .main__images
    padding 50px 0
    flex-direction column
    align-items center
    a
      margin-right 0
      margin-bottom 15px
      &:last-child
        margin-bottom 0
      img 
        height 350px
  .main__contacts
    padding 50px
    p
      width 90%
      margin-bottom 30px
  .main__contacts-icons
    flex-direction column
  .main__contacts-block
    margin-right 0
    margin-bottom 30px
  .main__contacts-inputs
    flex-direction column
    input 
      margin-right 0
      margin-bottom 30px
      &:last-child
        margin-bottom 0
  .main__contacts-message
    margin 30px 0

@media(max-width:700px)
  .main__top
    padding 100px 20px
    h1 
      font-size 40px
    h2 
      font-size 20px
  .main__top-links
    a
      margin-right 20px
      padding 14px 32px
      font-size 18px
      &:last-child 
        margin-right 0
        padding 14px 46px
  .main__info
    padding 50px 50px
    p
      width 90%
  .main__info-icons
    flex-direction column
    align-items center
  .main__info-block
    width 90%
  .main__content-block
    width 70%
    padding 60px 40px

@media(max-width:500px)
  .main__top
    h1 
      font-size 34px
    h2 
      font-size 16px
  .main__top-links
    a
      margin-right 10px
      padding 10px 24px
      font-size 16px
      &:last-child 
        margin-right 0
        padding 10px 38px
  .main__info
    padding 50px 10px
    h2 
      font-size 25px
    p
      font-size 14px
  .main__content
    padding 50px 10px
  .main__content-block
    width 95%
    padding 50px 20px
  .main__images
    a
      img 
        height 300px
  .main__contacts
    padding 50px 10px
    h2 
      font-size 20px
    p
      font-size 14px
  .main__contacts-inputs
    input 
      padding 20px 10px
      font-size 14px
  .main__contacts-message
    input 
      padding 20px 10px
      font-size 14px
