.exh__top
  padding 30px 200px
  h1 
    font-weight 300
    font-size 24px
    text-transform uppercase
    margin-bottom 30px

.exh__top-block
  display flex
  justify-content space-between
  align-items center
  img 
    margin-right 15px

.exh__top-text
  span 
    text-transform uppercase

.exh__info
  padding 30px 200px
  h1 
    font-weight 300
    font-size 24px
    margin-bottom 30px

.exh__info-content
  margin-top 30px
  display flex
  justify-content space-between
  flex-wrap wrap

.exh__info-block
  display flex
  justify-content space-between
  align-items center
  margin-right 30px
  width 45%
  &:last-child
    margin-right 0
  img
    margin-right 15px
    height 130px
    width 200px
  
.exh__info-text
  h2 
    font-size 16px
    font-weight 600
  p
    font-size 14px

.exh__invite
  padding 30px 200px
  display flex
  justify-content space-between

.exh__invite-ceremony
  display flex
  flex-direction column
  margin-right 30px
  h1 
    text-transform uppercase
    font-size 24px
    font-weight 600
  p
    margin-bottom 15px
    margin-top 0
  img
    width 400px

.exh__invite-info
  display flex
  flex-direction column
  justify-content flex-start
  align-items flex-start
  h1 
    text-transform uppercase
    font-size 24px
    font-weight 600
  p
    margin-top 0
  input 
    padding 15px 10px
    width 75%
    margin-bottom 20px
  
#exh__invite-btn
  border-radius 5px
  padding 7px
  cursor pointer 
  border none
  background-color #212121
  color #fff

.footer
  padding 30px 200px
