.lk
  display flex
  flex-direction column
  align-items center
  margin-top 50px
  h1 
    margin 0 0 50px 0
    font-size 24px

.lk__block
  display flex
  align-items center
  margin-bottom 20px
  background-color lightgrey
  padding 10px 0
  h2 
    width 300px
    font-size 20px
    margin 0
  span 
    width 300px
  
.lk__return
  text-align center
  margin 50px 0
  a
    text-decoration none
    color #000
    font-size 18px
    &:hover
      color red

@media(max-width: 800px)
  .lk
    align-items center
  .lk__block
    flex-direction column
    text-align center
    h2 
      margin-bottom 10px
