.main__header
  background-color #beeff1

.main__header-signin
  a
    background-color #beeff1 !important
  :hover
    color #000 !important

.main__top
  padding 150px 285px
  display flex
  flex-direction column
  align-items center
  background-color #beeff1
  background-repeat no-repeat
  background-size 100%
  h1 
    font-size 60px
    margin-bottom 40px
    text-align center
  h2 
    font-size 22px
    margin-bottom 110px
    text-align center

.main__top-links
  a
    margin-right 30px
    padding 18px 40px
    border 3px solid #000
    text-decoration none
    color #000
    font-size 18px
    &:last-child 
      margin-right 0
      padding 18px 54px

.main__info
  padding 120px 175px
  display flex
  flex-direction column
  align-items center
  text-align center
  h2 
    font-size 30px
    margin-bottom 25px
  p
    width 60%
    margin-bottom 125px
    &:last-child
      margin-bottom 0
      width auto

.main__info-icons
  display flex
  justify-content space-between

.main__info-block
  margin-right 120px
  width 33%
  &:last-child
    margin-right 0

.main__content
  padding 120px 110px
  background-color #beeff1
  display flex
  flex-direction column
  text-align center
  align-items center
  h2 
    font-size 30px
    margin-bottom 25px
  span
    margin-bottom 125px
    width 60%

.main__content-field
  display flex

.main__content-block
  padding 60px 50px
  background-color #fff
  margin-right 50px
  width 33%
  &:last-child
    margin-right 0
  svg
    margin-bottom 30px
    height 70px
  h3 
    margin-bottom 20px
  p
    margin-bottom 60px
  a  
    text-decoration none
    border 2px solid #000
    padding 8px 10px
    text-transform uppercase
    color #000
    &:hover
      background-color #000
      color #fff
      transition 0.5s all

.main__images
  padding 120px 0
  display flex
  justify-content center
  a
    margin-right 30px
    &:last-child 
      margin-right 0
    img 
      height 400px

.main__contacts
  padding 120px 185px
  background-color #000
  display flex
  flex-direction column
  align-items center
  text-align center
  h2 
    font-size 30px
    color #fff
    margin-bottom 20px
  p
    margin-bottom 80px
    color #fff
    width 60%

.main__contacts-icons
  display flex
  align-items center
  align-content center

.main__contacts-block
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  margin-right 200px
  &:last-child
    margin-right 0
  svg
    height 80px
    width 80px
    color #fff
    margin-bottom 35px
  span 
    color #fff

.main__contacts-inputs
  display flex
  justify-content space-between
  width 100%
  margin-top 80px
  input 
    margin-right 50px
    width 100%
    padding 25px 15px
    border none
    border-radius 10px
    font-size 18px
    &:last-child
      margin-right 0

.main__contacts-message
  width 100%
  margin 50px 0 70px 0
  input 
    width 100%
    padding 25px 15px
    border none
    border-radius 10px
    font-size 18px

#main__contacts-btn
  background-color #fff
  color #000
  padding 10px 40px
  border-radius 10px
  font-size 18px
  text-transform uppercase
  font-weight 600
  cursor pointer
