.team__body
  h1 
    font-size 40px
    text-transform uppercase

.team__header
  background-color #884f9d

.team__header-nav
  a 
    color #fff !important
    &:hover
      color red !important
 
.team__header-signin
  a 
    background-color #884f9d !important
    color #fff !important
    border 1px solid #fff !important

.team__break-line
  background-color #fff !important

.team__header-btn
  color #fff

.team__header-mobile
  a 
    color #fff !important

.team__top
  padding 160px 150px
  text-align center
  background-color #884f9d
  color #fff
  h1 
    margin-bottom 60px

#team__top-btn
  padding 25px 65px
  border none
  color #fff
  font-size 18px
  background-color orange
  border-radius 5px
  cursor pointer
  text-transform uppercase

.team__services
  padding 110px 150px
  text-align center
  background-color #39efe7
  h1 
    margin-bottom 50px
  
.team__services-info
  margin-top 80px
  display flex
  justify-content space-between
  align-items center

.team__services-block
  margin-right 20px
  display flex
  justify-content center
  align-items center
  flex-direction column
  &:last-child
    margin-right 0
  svg
    height 130px
    margin-bottom 50px
  h2 
    margin 0
    text-transform uppercase
  p  
    margin 25px 0 0 0

.team__info 
  padding 110px 150px
  text-align center
  background-color #e8f1f8
  h1 
    margin-bottom 50px
  
.team__info-view
  display flex
  justify-content space-between
  margin-top 80px

.team__info-block
  width 25% 
  display flex
  flex-direction column
  margin-right 20px
  &:last-child
    margin-right 0
  svg
    height 200px
  h2 
    font-size 24px
    margin 40px 0 10px 0
    text-transform uppercase

  span 
    color blue
  p 
    margin-top 20px

.team__info-links
  display flex
  justify-content center
  a  
    margin-right 20px
    &:last-child
      margin-right 0
    svg
      height 25px
      color grey

.team__portfolio
  padding 110px 150px
  text-align center
  // background-color #ffde9a
  h1 
    margin-bottom 30px

.team__portfolio-images
  padding 30px 0
  display flex
  align-items center
  justify-content space-between

.team__portfolio-block
  margin-right 20px
  img 
    width 550px
    height 300px
  &:last-child
    margin-right 0
  p 
    text-transform uppercase
    font-weight 600

.team__talk
  padding 110px 150px
  background-color #d84481
  color #fff
  h1
    margin-bottom 30px
    text-align center
  p 
    text-align center

.team__talk-info
  display flex
  justify-content space-between
  padding 30px 0

.team__talk-block
  width 50%
  display flex
  justify-content space-between
  margin-right 50px
  &:last-child 
    margin-right 0
  img 
    height 100px
    width 100px

.team__talk-text
  font-style italic
  margin-left 35px
  h2 
    margin-bottom 0
    text-transform uppercase
  h3 
    margin 0
    color #ffdd99
  span 
    font-weight 600
