@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
*
  box-sizing border-box
  font-family "Open Sans"
html, body
  margin 0
  padding 0
html
  height 100%
body
  min-height 100%
