<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <title>Создание новостей</title>
</head>
<body class="body">

    <div class="Registration--background">
        <b class="title">Новости</b>
    
    <form action="/admin-exh" method="POST" >

        <div class="form-group">
            <label for="pos">Картинка:</label>
            <input class="form-control" name="pos" />
        </div>
            
        <div class="form-group">
            <label for="name">Имя:</label>
            <input class="form-control" name="name" />
        </div>
    
        <div class="form-group">
            <label for="text">Текст:</label>
            <input class="form-control" name="text" />
        </div>

        <div class="panel-body">
            <button type="submit" class="btn btn-sm btn-primary">Сохранить</button>
           
        </div>

        </form>

    </div>

<script>

async function CreateUser(userPos, userName, userText){
  
  const response = await fetch("api/users", {
      method: "POST",
      headers: { "Accept": "application/json", "Content-Type": "application/json" },
      body: JSON.stringify({
          pos: userPos,
          name: userName,
          text: userText

      })
  });
  if (response.ok === true) {
      const user = await response.json();
      reset();
      document.querySelector("tbody").append(row(user));
  }
  
};
document.forms["userForm"].addEventListener("submit", e => {
            e.preventDefault();
            const form = document.forms["userForm"];
            const pos = form.elements["pos"].value;
            const id = form.elements["id"].value;
            const name = form.elements["name"].value;
            const text = form.elements["text"].value;
            if (id == 0)
                CreateUser(pos, name, text);
            else
                EditUser(pos, id, name, text);
        });

</script>

</body>
</html>