<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylus/index.styl"/>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <title>Выставка</title>
</head>

  <body>
  
    <header class="header">
      <div class="header__content">
        <div class="header__nav">
          <a href="/main">Главная</a>
          <a href="/exh">Выставка</a>
          <a href="/team">О нас</a>
        </div>
        <div class="header__mobile">
          <div class="header__mobile-icon">
            <button class="header__mobile-btn">
              <img src="images/icons/list.svg" alt="">
            </button>
          </div>
          <div class="header__mobile-content">
            <a href="/main">Главная</a>
            <a href="/exh">Выставка</a>
            <a href="/team">О нас</a>
          </div>
        </div>
        <div class="header__signin">
          <a href="/signin">Войти</a>
        </div>
      </div>
      <div class="break-line"></div>
    </header>

    <div class="exh__top">
      <h1><div class="break-line1"></div>победитель прошлого года<div class="break-line1"></div></h1>
      <div class="exh__top-block">
        <img src="images/exhibition/top.jpg" alt="">
        <div class="exh__top-text">
          <span>the huntress</span>
          <p>By <strong>Jane Doe</strong></p>
          <p>Дизайнер бренда Джейн Доу сравнила свою работу с физической и эмоциональной хирургией, в которой требуется «препарирование, сборка и эксперимент, не отходя от операционного стола». Звучит ужасающе, но результат обсуждают до сих пор!</p>
        </div>
      </div>
    </div>

    <div class="exh__info">
      <h1><div class="break-line1"></div>inSPIRED, inTELLIGENT, inCREDIBLE<div class="break-line1"></div></h1>
      <span>Для нас важна поддержка не только уже состоявшихся модельеров, но и тех, кто только начинает свою карьеру. Для каждого дизайнера показ – это важный этап. К нему можно идти очень долго. Мы рады, что у нас есть возможность заметно сократить этот путь для действительно талантливых и перспективных модельеров.</span>
      <div class="exh__info-content">
        {{#each news}}
        <div class="exh__info-block">
          <img src="images/exhibition/{{this.pos}}.jpg" alt="">
          <div class="exh__info-text">
            <h2>{{this.name}}</h2>
            <p>{{this.text}}</p>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="break-line1"></div>
    </div>
    
    <div class="exh__invite">
      <div class="exh__invite-ceremony">
        <h1>церемония награждения</h1>
        <p>Церемония награждения победителей конкурса «Вдохновленная выставка». Киногалерея Fuji Film Gallery, Москва. 4 июня - 9 июня с 10 до 16 часов.</p>
        <img src="images/exhibition/ceremony.jpg" alt="">
      </div>
      <div class="exh__invite-info">
        <h1>Вы приглашены?</h1>
        <p>Если у вас есть код приглашения на церемонию награждения, введите его вместе со своим адресом электронной почты в форму ниже.</p>
        <input type="text" placeholder="Ваш email">
        <input type="text" placeholder="Номер пригласительного">
        <button id="exh__invite-btn">Подтвердить</button>
      </div>
    </div>

<footer class="footer">
      <div class="break-line"></div>
      <div class="footer__header">
        <h1>share this page<div class="break-line1"></div></h1>
      </div>
      <div class="footer__nav">
        <div class="footer__pages">
          <a href="/signin">авторизация</a>
          <a href="/main">главная</a>
          <a href="/exh">выставка</a>
          <a href="/team">команда</a>
        </div>
        <div class="footer__links">
          <a href="https://ru-ru.facebook.com/Vogue/"><img src="images/socialicons/facebook.svg" alt=""></a>
          <a href="https://ru-ru.facebook.com/Vogue/"><img src="images/socialicons/vk.svg" alt=""></a>
          <a href="https://ru-ru.facebook.com/Vogue/"><img src="images/socialicons/twitter.svg" alt=""></a>
        </div>
      </div>
    </footer>

  <script src="script/index.js"></script>
  <script src="../build/assets/js/header.js"></script>
  
</body>

</html>