<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylus/index.styl"/>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<title>Личный кабинет</title>
</head>

  <body>
  
		<div class="lk">
			<h1>Данные о пользователе</h1>
			<div class="lk__block">
				<h2>Логин</h2>
				<span>{{name}}</span>
			</div>
			<div class="lk__block">
				<h2>Пароль</h2>
				<span>{{password}}</span>
			</div>
			<div class="lk__block">
				<h2>ФИО</h2>
				<span>{{surname}}</span>
			</div>
			<div class="lk__block">
				<h2>Номер телефона</h2>
				<span>{{phone}}</span>
			</div>
			<div class="lk__block">
				<h2>Электронная почта</h2>
				<span>{{email}}</span>
			</div>
			<div class="lk__block">
				<h2>ИНН</h2>
				<span>{{inn}}</span>
			</div>
		</div>

		<div class="lk__return">
			<a href="/main">Перейти к главной странице...</a>
		</div>
    
  <script src="../build/assets/js/fslightbox.js"></script>
	<script src="script/index.js"></script>
	
</body>

</html>
