<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylus/index.styl"/>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<title>Главная</title>
</head>

  <body>
  
    <header class="header main__header">
      <div class="header__content">
        <div class="header__nav">
          <a href="/main">Главная</a>
          <a href="/exh">Выставка</a>
          <a href="/team">О нас</a>
        </div>
				<div class="header__mobile">
          <div class="header__mobile-icon">
            <button class="header__mobile-btn">
              <img src="images/icons/list.svg" alt="">
            </button>
          </div>
          <div class="header__mobile-content">
            <a href="/main">Главная</a>
          	<a href="/exh">Выставка</a>
          	<a href="/team">О нас</a>
          </div>
        </div>
        <div class="header__signin main__header-signin">
          <a href="/signin">Войти</a>
        </div>
      </div>
      <div class="break-line"></div>
    </header>

    <div class="main__top">
      <h1>Paufashion magazine</h1>
      <h2>Журнал Paufashion выходит в более чем 20 странах мира</h2>
      <div class="main__top-links">
        <a href="/exh">Выставка</a>
        <a href="/team">О нас</a>
      </div>
    </div>

    <div class="main__info">
      <h2>Больше про Paufashion</h2>
      <p>Paufashion – главный журнал о моде в мире и флагман издательской империи Condé Nast, первый номер которого вышел более 120 лет назад. Paufashion недаром называют библией моды: журнал не только раньше всех дает исчерпывающий обзор новых тенденций моды и красоты, но и сам задает новые тренды, открывает перспективные имена, диктует высокие стандарты. Попасть на страницы Paufashion для дизайнера, модели, актрисы, фотографа, писателя – значит получить высший знак качества модной индустрии.</p>
      <div class="main__info-icons">
        <div class="main__info-block">
          <img src="images/main/icon1.jpg" alt="">
          <h3>Paufashion в России</h3>
          <p>Россию журнал пришел в 1998 году, утвердив на нашем рынке новый стандарт глянцевой фотосъемки и модной журналистики.</p>
        </div>
        <div class="main__info-block">
          <img src="images/main/icon3.jpg" alt="">
          <h3>Оригинальность решений</h3>
          <p>Мода, красота, стиль жизни и многие другие важные составляющие нашего общества, которые выходят за рамки наших привычных представлений.</p>
        </div>
        <div class="main__info-block">
          <img src="images/main/icon2.jpg" alt="">
          <h3>Мировое признание</h3>
          <p>В США ежемесячно продаётся чуть менее миллиона экземпляров, что уступает таким журналам, как Vogue и абсолютному лидеру рынка Glamour.</p>
        </div>
      </div>
    </div>
    
    <div class="main__content">
      <h2>Наши статьи</h2>
      <span>Мы привыкли соглашаться, что, если брать среднюю температуру по больнице, то, определенно, более дорогой гардероб имеет больше шансов выглядеть современно и круто, чем менее дорогой. Но здесь мы попадаем в несколько ловушек, которые в итоге, вместо верных оптимистичных выводов, заводят нас в ошибки и уныние. Читайте наши статьи и делайте выводы.</span>
      <div class="main__content-field">
        <div class="main__content-block">
          <img src="images/main/couch.svg" alt="">
          <h3>Про образ жизни</h3>
          <p>Нет времени тренироваться: как сохранить здоровье при сидячем образе жизни. Чем чреват сидячий образ жизни?</p>
          <a href="/team">читать больше</a>
        </div>
        <div class="main__content-block">
          <img src="images/main/clock.svg" alt="">
          <h3>Часы</h3>
          <p>Можно было догадаться, что, представив первые в мире (!) часы с фиолетовым механизмом, Zenith не остановится на достигнутом.</p>
          <a href="/team">читать больше</a>
        </div>
        <div class="main__content-block">
          <img src="images/main/food.svg" alt="">
          <h3>Еда и мода</h3>
          <p>Модная еда или съедобная мода? Как еда вдохновляет дизайнеров. Jacquemus – тот, кто выделил свою коллекцию с помощью еды.</p>
          <a href="/team">читать больше</a>
        </div>
      </div>
    </div>

    <div class="main__images">
      <a data-fslightbox="" href="../build/assets/images/main/t-shirt.jpg"><img src="images/main/t-shirt.jpg" alt=""></a>
      <a data-fslightbox="" href="../build/assets/images/main/bag.jpg"><img src="images/main/bag.jpg" alt=""></a>
      <a data-fslightbox="" href="../build/assets/images/main/wine.jpg"><img src="images/main/wine.jpg" alt=""></a>
    </div>

    <div class="main__contacts">
      <h2>Связь с нами</h2>
      <p>Если вы хотите оказаться на страницах нашего журнала, для начала нужно понять, зачем вам это. Причиной может быть просто желание засветиться или бизнес-перспектива: вы считаете, что публикация  привлечёт новую иностранную аудиторию или поможет сформировать определённый имидж.</p>
      <div class="main__contacts-icons">
        <div class="main__contacts-block">
          <img src="images/main/location.svg" alt="">
          <span>Moscow</span>
          <span>Russian Federation</span>
        </div>
        <div class="main__contacts-block">
          <img src="images/main/call.svg" alt="">
          <span>+79891230808</span>
          <span>+79891230808</span>
        </div>
        <div class="main__contacts-block">
          <img src="images/main/mail.svg" alt="">
          <span>quickmasud@gmail.com</span>
          <span>quickmasud@yahoo.com</span>
        </div>
      </div>
      <div class="main__contacts-inputs">
        <input type="text" placeholder="Ваше имя">
        <input type="text" placeholder="Ваш email">
      </div>
      <div class="main__contacts-message">
        <input type="text" placeholder="Наберите сообщение">
      </div>
      <button id="main__contacts-btn">отправить</button>
    </div>

    <footer class="footer">
			<div class="break-line"></div>
			<div class="footer__header">
				<h1>share this page<div class="break-line1"></div></h1>
			</div>
			<div class="footer__nav">
				<div class="footer__pages">
					<a href="/signin">авторизация</a>
					<a href="/main">главная</a>
					<a href="/exh">выставка</a>
					<a href="/team">команда</a>
				</div>
				<div class="footer__links">
					<a href="https://ru-ru.facebook.com/Vogue/"><img src="images/socialicons/facebook.svg" alt=""></a>
					<a href="https://ru-ru.facebook.com/Vogue/"><img src="images/socialicons/vk.svg" alt=""></a>
					<a href="https://ru-ru.facebook.com/Vogue/"><img src="images/socialicons/twitter.svg" alt=""></a>
				</div>
			</div>
		</footer>

  <script src="../build/assets/js/fslightbox.js"></script>
	<script src="script/index.js"></script>
  <script src="../build/assets/js/header.js"></script>
	
</body>

</html>
