<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="stylus/index.styl"/>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<title>Войти</title>
</head>
  <body class="page-login page-login--with-background">

		<form action="/signin" method="POST" class="form page-login__form">
			<h1 class="form__title page-login__title">Войти</h1>
			<div class="input-login form__control">
				<span class="input__icon">
					<img src="images/icons/user.svg" alt="">
				</span>
				<input type="text" class="input__field input__field--text" placeholder="Логин" name="userName">
			</div>
			<div class="input-login form__control">
				<span class="input__icon">
					<img src="images/icons/key.svg" alt="">
				</span>
				<input type="password" class="input__field input__field--text" placeholder="Пароль" name="userPassword">
			</div>
			<div class="form__control">
				<button type="submit" class="button--primary page-login__enter" id="login__btn">
					Войти
				</button>
			</div>
		</form>

	<script src="../build/assets/js/jquery.min.js"></script>
  <script src="../build/assets/js/fslightbox.js"></script>
	<script src="script/index.js"></script>
	
</body>

</html>
