<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylus/index.styl"/>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<title>Команда</title>
</head>

  <body class="team__body">
  
    <header class="header team__header">
      <div class="header__content">
        <div class="header__nav team__header-nav">
          <a href="/main">Главная</a>
          <a href="/exh">Выставка</a>
          <a href="/team">О нас</a>
        </div>
				<div class="header__mobile">
          <div class="header__mobile-icon">
            <button class="header__mobile-btn team__header-btn">
              <img src="images/icons/list.svg" alt="">
            </button>
          </div>
          <div class="header__mobile-content team__header-mobile">
            <a href="/main">Главная</a>
          	<a href="/exh">Выставка</a>
          	<a href="/team">О нас</a>
          </div>
        </div>
        <div class="header__signin team__header-signin">
          <a href="/signin">Войти</a>
        </div>
      </div>
      <div class="break-line team__break-line"></div>
    </header>

		<div class="team__top">
			<h1>Всем привет! Мы новые перспективные дизайнеры и разработчики, и мы создаем отличные веб-сайты и приложения.</h1>
			<button id="team__top-btn">работай с нами!</button>
		</div>

		<div class="team__services">
			<h1>услуги, которые мы предоставляем</h1>
			<span>Мы работаем как с частными лицами, так и с предприятиями со всего мира, чтобы создавать отличные веб-сайты и приложения.</span>
			<div class="team__services-info">
				<div class="team__services-block">
					<img src="images/team/pencil.svg" alt="">
					<h2>дизайн</h2>
					<p>Наличие возможностей для поддержки и расширения сайта.</p>
				</div>
				<div class="team__services-block">
					<img src="images/team/text.svg" alt="">
					<h2>текст</h2>
					<p>Правильно расположенный текст на страницах.</p>
				</div>
				<div class="team__services-block">
					<img src="images/team/navigation.svg" alt="">
					<h2>навигация</h2>
					<p>Проектирование удобной, простой навигации по сайту.</p>
				</div>
				<div class="team__services-block">
					<img src="images/team/structure.svg" alt="">
					<h2>структура</h2>
					<p>Разработка и согласование грамотно продуманной структуры.</p>
				</div>
			</div>
		</div>

		<div class="team__info">
			<h1>встречайте нашу прекрасную команду</h1>
			<p>Мы небольшая команда дизайнеров и разработчиков, которые помогают брендам с большими идеями.</p>
			<div class="team__info-view">
				<div class="team__info-block">
					<img src="images/team/man.svg" alt="">
					<h2>попов степан</h2>
					<span>designer</span>
					<p>Занимается оформлением проектов в интернете: разрабатывает дизайн сайтов, промо-страниц, лэндингов, электронных презентаций. Web-дизайнер создаёт логотипы, баннеры, инфографику и другие графические элементы страницы.</p>
					<div class="team__info-links">
						<a href=""><img src="images/socialicons/facebook.svg" alt=""></a>
						<a href=""><img src="images/socialicons/vk.svg" alt=""></a>
						<a href=""><img src="images/socialicons/twitter.svg" alt=""></a>
					</div>
				</div>
				<div class="team__info-block">
					<img src="images/team/man.svg" alt="">
					<h2>харитонов максим</h2>
					<span>targetologist</span>
					<p>Когда компания работает в социальных сетях, она много внимания уделяет ведению страниц. Но продвижение не ограничивается ведением сообществ: здесь гораздо больше возможностей для продвижения бизнеса. И прежде всего — это таргетированная реклама.</p>
					<div class="team__info-links">
						<a href=""><img src="images/socialicons/facebook.svg" alt=""></a>
						<a href=""><img src="images/socialicons/vk.svg" alt=""></a>
						<a href=""><img src="images/socialicons/twitter.svg" alt=""></a>
					</div>
				</div>
				<div class="team__info-block">
					<img src="images/team/man.svg" alt="">
					<h2>кузнецова ксения</h2>
					<span>programmer</span>
					<p>Отвечает за то, чтобы страницы сайта выглядели во всех браузерах одинаково и соответствовали макету дизайнера. С появлением новых средств разработки и более современных браузеров эта задача  решается проще.  Но интерфейсы современных сайтов или интернет-сервисов становятся более сложными.</p>
					<div class="team__info-links">
						<a href=""><img src="images/socialicons/facebook.svg" alt=""></a>
						<a href=""><img src="images/socialicons/vk.svg" alt=""></a>
						<a href=""><img src="images/socialicons/twitter.svg" alt=""></a>
					</div>
				</div>
				<div class="team__info-block">
					<img src="images/team/man.svg" alt="">
					<h2>осипова анна</h2>
					<span>manager</span>
					<p>Этот человек знает делопроизводство – умеет оформлять договоры, ведет необходимую сопутствующую документацию и деловую переписку. Умеет общаться с людьми – договариваться, убеждать, мотивировать. Управляет компанией либо каким-то из ее подразделений.</p>
					<div class="team__info-links">
						<a href=""><img src="images/socialicons/facebook.svg" alt=""></a>
						<a href=""><img src="images/socialicons/vk.svg" alt=""></a>
						<a href=""><img src="images/socialicons/twitter.svg" alt=""></a>
					</div>
				</div>
			</div>
		</div>

		<div class="team__portfolio">
			<h1>наше портфолио</h1>
			<p>Свои фантазии наши современные разработчики охотно воплощают в идеи, которые принимают самые необычные формы и размеры.</p>
			<div class="team__portfolio-images">
				<div class="team__portfolio-block">
					<img src="images/team/ex1.webp" alt="">
					<p>b-hero</p>
				</div>
				<div class="team__portfolio-block">
					<img src="images/team/ex2.webp" alt="">
					<p>studio 99</p>
				</div>
			</div>
			<div class="team__portfolio-images">
				<div class="team__portfolio-block">
					<img src="images/team/ex3.webp" alt="">
					<p>travel site</p>
				</div>
				<div class="team__portfolio-block">
					<img src="images/team/ex4.webp" alt="">
					<p>diagoona</p>
				</div>
			</div>
		</div>

		<div class="team__talk">
			<h1>что люди говорят о нас</h1>
			<p>Наши клиенты ценят нас!</p>
			<div class="team__talk-info">
				<div class="team__talk-block">
					<img src="images/team/man.png" alt="">
					<div class="team__talk-text">
						<span>“Благодарю ребят за выполненную работу по верстке индивидуального дизайн-макета сайта нашего магазина  и программированию дополнительных модулей."</span>
						<h2>Демидов Игорь</h2>
						<h3>Заместитель генерального директора</h3>
					</div>
				</div>
				<div class="team__talk-block">
					<img src="images/team/man.png" alt="">
					<div class="team__talk-text">
						<span>“Профессионалы в своем деле, отнеслись с пониманием и учли все до мелочей при создании сайта по нашей тематике. Огромное спасибо!"</span>
						<h2>Олег Петров</h2>
						<h3>директор компании</h3>
					</div>
				</div>
			</div>
			<div class="team__talk-info">
				<div class="team__talk-block">
					<img src="images/team/man.png" alt="">
					<div class="team__talk-text">
						<span>“Оценивая бизнес-результат (хотя пока рано судить), я могу отметить возросшее количество звонков клиентов, которые были на сайте, ознакомились с информацией."</span>
						<h2>Алексей Чхадзе</h2>
						<h3>руководитель отдела маркетинга</h3>
					</div>
				</div>
				<div class="team__talk-block">
					<img src="images/team/man.png" alt="">
					<div class="team__talk-text">
						<span>“Выражаю благодарность за работу ребят. Сайт сделали в срок, после работы с фрилансерами это играет огромную роль. На проблемы реагировали оперативно, оценка в ходе работ не менялась."</span>
						<h2>Анатолий Мельников</h2>
						<h3>генеральный директор</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="main__contacts">
      <h2>Связь с нами</h2>
      <p>Если вы хотите оказаться на страницах нашего журнала, для начала нужно понять, зачем вам это. Причиной может быть просто желание засветиться или бизнес-перспектива: вы считаете, что публикация  привлечёт новую иностранную аудиторию или поможет сформировать определённый имидж.</p>
      <div class="main__contacts-icons">
        <div class="main__contacts-block">
          <img src="images/main/location.svg" alt="">
          <span>Moscow</span>
          <span>Russian Federation</span>
        </div>
        <div class="main__contacts-block">
          <img src="images/main/call.svg" alt="">
          <span>+79891230808</span>
          <span>+79891230808</span>
        </div>
        <div class="main__contacts-block">
          <img src="images/main/mail.svg" alt="">
          <span>quickmasud@gmail.com</span>
          <span>quickmasud@yahoo.com</span>
        </div>
      </div>
      <div class="main__contacts-inputs">
        <input type="text" placeholder="Ваше имя">
        <input type="text" placeholder="Ваш email">
      </div>
      <div class="main__contacts-message">
        <input type="text" placeholder="Наберите сообщение">
      </div>
      <button id="main__contacts-btn">отправить</button>
    </div>
    
		<footer class="footer">
			<div class="break-line"></div>
			<div class="footer__header">
				<h1>share this page<div class="break-line1"></div></h1>
			</div>
			<div class="footer__nav">
				<div class="footer__pages">
					<a href="/signin">авторизация</a>
					<a href="/main">главная</a>
					<a href="/exh">выставка</a>
					<a href="/team">команда</a>
				</div>
				<div class="footer__links">
					<a href="https://ru-ru.facebook.com/Vogue/"><img src="images/socialicons/facebook.svg" alt=""></a>
					<a href="https://ru-ru.facebook.com/Vogue/"><img src="images/socialicons/vk.svg" alt=""></a>
					<a href="https://ru-ru.facebook.com/Vogue/"><img src="images/socialicons/twitter.svg" alt=""></a>
				</div>
			</div>
		</footer>

	<script src="script/index.js"></script>
	<script src="../build/assets/js/header.js"></script>
	
</body>

</html>
